body{
    background-color: #1ABC90;
}
.card img{
    width: auto;
    height: 150px;
}
.card{
    margin-top: 20px;
    width: auto;
    background-color: #FAF9F9;
}

article{
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
section{
    margin-top: 20px;
    background-color: #84B2BB;
    width: auto;
}
.row{
    width: auto;
}
.bg-light{
    background-color: #FAF9F9 !important;
}
.bg-white{
    border: black 1px solid;
    background-color: #FAF9F9 !important;
}


.bg-info{
    border: black 1px solid;
    background-color: #1F3A66 !important;
}

.col-1 p{
    cursor: pointer;
}

footer{
    margin-top: 20px;
}
.jumbotron{
    padding: 10px;
}